{% load compress %} {% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Proflio</title>
        <meta name="description" content="Website for creating online profile cards">
        <meta name="keywords" content="Resume, Free resume, Free, Online resume, Online website, Website, Resume builder, AI">
        <meta name="author" content="Proflio | Mehmonov Husniddin">
        <meta property="og:title" content="Proflio">
        <meta property="og:description" content="Website for creating online profile cards">
        <meta property="og:url" content="https://proflio.uz">
        {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}" />
        {% endcompress %}


    </head>

    <body class=" {% block bgcolor %} bg-gray-50{% endblock bgcolor %}">
        <nav class="absolute top-0 left-0 right-0 z-50">
            <div class="container mx-auto px-4">
                <div class="flex justify-between items-center py-6">
                    <a href="{{ .Site.Params.homepage }}/" class="flex items-center">
                        <span class="text-3xl font-extrabold text-white">Proflio</span>
                    </a>
                    <div class="hidden md:flex space-x-8">
                        <a href="{% url "home" %}" class="text-white hover:text-gray-200 transition duration-300">Home</a>
                        <a href="{% url 'about' %}" class="text-white hover:text-gray-200 transition duration-300">About</a>
                        <a href="{% url "servis" %}" class="text-white hover:text-gray-200 transition duration-300">Services</a>
                        <a href="{% url "pricing" %}" class="text-white hover:text-gray-200 transition duration-300">Pricing</a>
                        <a href="{% url "contact" %}" class="text-white hover:text-gray-200 transition duration-300">Contact</a>
                    </div>
                    <div class="md:hidden">
                        <button id="mobile-menu-button" class="text-white hover:text-gray-200 focus:outline-none focus:text-gray-200">
                            <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
                                <path d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Mobile menu -->
            <div id="mobile-menu" class="md:hidden hidden bg-white">
                <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100"> Home</a>
                <a href="{% url 'about' %}" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100">About</a>
                <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100">Services</a>
                <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100">Pricing</a>
                <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100">Contact</a>
            </div>
            
        </nav>

        {% block content %} {% endblock content %}

        <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>

       <script
            defer
            src="https://static.cloudflareinsights.com/beacon.min.js"
            data-cf-beacon='{"token": "4358c14e0dad434fa919137cd37c230c"}'
        ></script>
        <script>
            // Mobile menu toggle
            document.getElementById('mobile-menu-button').addEventListener('click', function() {
                document.getElementById('mobile-menu').classList.toggle('hidden');
            });
        </script>


      <script src="{% static "profile.js" %}"></script>
      <script src="{% static "script.js" %}"></script>
    </body>
</html>