{% extends "_base.html" %}
{% load socialaccount %}
{% block content %}

<section class="flex  flex-col items-center justify-center min-h-screen text-center">
    <a href="https://www.producthunt.com/products/proflio/reviews?utm_source=badge-product_review&utm_medium=badge&utm_souce=badge-proflio" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/product_review.svg?product_id=604877&theme=light" alt="Proflio - Build&#0032;your&#0032;online&#0032;profile&#0032;in&#0032;minutes&#0032;with&#0032;a&#0032;shareable&#0032;link | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a> 
    <h1 class="mt-5 text-4xl md:text-6xl font-bold mb-4">Show Your Work to the World master</h1>

    <p class="text-lg md:text-2xl mb-8">An online portfolio creation and sharing platform for designers, developers, and others. Create and share your profile!</p>
    <div class="flex space-x-4 mb-8">
        {% if user.is_authenticated %}
        <div>
            <a href="{% url "mstep" %}" class="text-white bg-green-700 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Start here

            </a>

        </div>
        <div>
            <a href="{% url 'account_logout' %}" class="text-white bg-green-700 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Logout
            </a>

        </div>
        {% else %}
        <!-- GitHub button ends here -->
        <div class="px-6 sm:px-0 max-w-sm">
            <form action="{% provider_login_url 'google' %}" method="post">
                {% csrf_token %}
                <button type="submit"  class="text-white w-full  bg-gray-800 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center justify-between mr-2 mb-2"><svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 19">
                <path fill-rule="evenodd" d="M8.842 18.083a8.8 8.8 0 0 1-8.65-8.948 8.841 8.841 0 0 1 8.8-8.652h.153a8.464 8.464 0 0 1 5.7 2.257l-2.193 2.038A5.27 5.27 0 0 0 9.09 3.4a5.882 5.882 0 0 0-.2 11.76h.124a5.091 5.091 0 0 0 5.248-4.057L14.3 11H9V8h8.34c.066.543.095 1.09.088 1.636-.086 5.053-3.463 8.449-8.4 8.449l-.186-.002Z" clip-rule="evenodd"/>
                </svg>Sign up with Google<div></div></d>
            </form>
        </div>

        <div class="px-6 sm:px-0 max-w-sm">
            <form action="{% provider_login_url 'github' %}" method="post">
                {% csrf_token %}
                <button type="submit"  class="text-white w-full  bg-gray-800 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center justify-between mr-2 mb-2"><svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
                </svg>Sign up with Github<div></div></>
            </form>
        </div>
       

        {% endif %}

    </div>
    <div class="w-full max-w-xs">

    </div>
</section>

{% endblock content %}
