{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ profile.user.username }}'s Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    {% compress css %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    {% endcompress %}
</head>
<body class="bg-gray-100">
    <div class="container mx-auto max-w-4xl py-8">
        <div class="bg-white rounded-3xl shadow-2xl overflow-hidden">
            {% include "components/profile_header.html" %}
            {% include "components/profile_info.html" %}
            {% include "components/skills.html" %}
            {% include "components/experience.html" %}
            {% include "components/social_media_links.html" %}
            {% include "components/website_style.html" %}
        </div>
    </div>

    {% include "modals/edit_user_info_modal.html" %}
    {% include "modals/edit_skills_modal.html" %}
    {% include "modals/edit_experience_modal.html" %}
    {% include "modals/edit_links_modal.html" %}
    {% include "modals/edit_website_style_modal.html" %}

    <script src="{% static 'profile.js' %}"></script>
</body>
</html>